{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "react-hooks"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0,
    "react-hooks/rules-of-hooks": "error"
  }
}
