@import './theme.css';

.btn {
  background-color:var(--color-default);
  border-radius:3px;
  border: 0;
  cursor:pointer;
  color:var(--color-text);
  padding:9px 23px;
  text-decoration:none;
}
.btn:hover {
  background-color:var(--color-default-light);
}

.btn-primary {
  background-color:var(--color-primary);
  color: var(--color-text);
}

.btn-primary:hover {
  background-color:var(--color-primary-light);
}

.btn-secondary {
  background-color:var(--color-secondary);
  color: var(--color-text);
}

.btn-secondary:hover {
  background-color:var(--color-secondary-light);
}
