@import './theme.css';

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: var(--grid-outer-margin);
  padding-left: var(--grid-outer-margin);
}

@media only screen and (min-width: 48em) {
  .container {
    width: var(--container-sm, 46rem);
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: var(--container-md, 61rem);
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: var(--container-lg, 71rem);
  }
}
