@import './theme.css';

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--grid-gutter-compensation);
  margin-left: var(--grid-gutter-compensation);
}
