:root {
  --color-text: #000000;
  --color-text-light: #ffffff;
  --color-default: #b0bec5;
  --color-default-light: #e2f1f8;
  --color-default-dark: #808e95;
  --color-primary: #0091ea;
  --color-primary-light: #64c1ff;
  --color-primary-dark: #0064b7;
  --color-secondary: #00bfa5;
  --color-secondary-light: #5df2d6;
  --color-secondary-dark: #008e76;

  --grid-gutter-width: 1rem;
  --grid-outer-margin: 2rem;
  --grid-gutter-compensation: calc((var(--grid-gutter-width) * 0.5) * -1);
  --grid-half-gutter-width: calc((var(--grid-gutter-width) * 0.5));
  --grid-xs-min: 30;
  --grid-sm-min: 48;
  --grid-md-min: 64;
  --grid-lg-min: 75;
  --grid-container-sm: calc(var(--gridsm-min) + var(--grid-gutter-width));
  --grid-container-md: calc(var(--gridmd-min) + var(--grid-gutter-width));
  --grid-container-lg: calc(var(--gridlg-min) + var(--grid-gutter-width));
}
